<div class="block">
  <div class="secondary-navigation">
  </div>          
  <div class="content">            
    <h2 class="title">用户注册</h2>
    <div class="inner">
	<%= render 'form' %>
    </div>
  </div>
</div>
